.main {
  height: 600px;
  width: 100%;
  background: url(../../assets/imgs/banner.png) no-repeat top center;
}
.main .main-content {
  width: 1200px;
  margin: 0 auto;
  padding-top: 320px;
}
.main .main-content .main-info {
  display: flex;
}
.main .main-content .main-info li {
  flex: 1;
  color: #fff;
  text-align: center;
  font-size: 20px;
  border-right: 1px solid #fff;
}
.main .main-content .main-info li .info {
  color: #c6c6c6;
}
.main .main-content .main-info li:last-child {
  border-right: 0;
}
.main .main-search {
  width: 1000px;
  margin: 30px auto;
}
.main .main-search input {
  height: 50px;
  border-radius: 4px;
}
